[submodule "CENG435 - Data Communications and Networking/PA1/CENG435-Programming-Assignment"]
	path = CENG435 - Data Communications and Networking/PA1/CENG435-Programming-Assignment
	url = https://github.com/ahmet-ertas/CENG435-Programming-Assignment
[submodule "CENG435 - Data Communications and Networking/PA2/covertovert"]
	path = CENG435 - Data Communications and Networking/PA2/covertovert
	url = https://github.com/B-Akcan/covertovert
[submodule "CENG477 - Intro. to Computer Graphics/CENG477-HW1"]
	path = CENG477 - Intro. to Computer Graphics/CENG477-HW1
	url = https://github.com/B-Akcan/CENG477-HW1
[submodule "CENG477 - Intro. to Computer Graphics/CENG477-HW2"]
	path = CENG477 - Intro. to Computer Graphics/CENG477-HW2
	url = https://github.com/B-Akcan/CENG477-HW2
[submodule "CENG477 - Intro. to Computer Graphics/CENG477-HW3"]
	path = CENG477 - Intro. to Computer Graphics/CENG477-HW3
	url = https://github.com/B-Akcan/CENG477-HW3
[submodule "CENG445 - Software Development with Scripting Languages/term project/CENG445-Term-Project"]
	path = CENG445 - Software Development with Scripting Languages/term project/CENG445-Term-Project
	url = https://github.com/B-Akcan/CENG445-Term-Project
